//
   Created by luhtonen on 28/07/14.

doctype html
html(lang="en", ng-app="myApp")
    head
        meta(charset="UTF-8")
        title AngularJS Succinctly 0 - Chapter 6 - Recipe 2
        script(src="/bower_components/angular/angular.js", type="text/javascript")
        script(src="/bower_components/angular-route/angular-route.js", type="text/javascript")
        script(src="/bower_components/angular-resource/angular-resource.js", type="text/javascript")
        script(src="/js/ch06_02.js", type="text/javascript")
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/styles/app.css")
    body
        .container
            h1 Route Example
            block body
