<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/ch05_03.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/app.css">
</head>
<body ng-app="MyApp">
    <div class="container" ng-controller="MyCtrl">
        <!-- div class="form-group">
            <input type="text" ng-model="searchTerm" placeholder="Search term" class="form-control"/>
        </div -->
        <div class="form-group">
            <button ng-click="search()" class="btn btn-primary">Search Drivers</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="tweet in searchResult">{{tweet.givenName}} {{tweet.familyName}}</li>
        </ul>
    </div>
</body>
</html>