.idea/*
.idea/*.*
/SevenFrameworks/ch01/nbproject/private
/SevenFrameworks/ch01/sinatra/crud/nbproject/private/
/SevenFrameworks/ch01/sinatra/erb/nbproject/private/
/SevenFrameworks/ch01/sinatra/mustache/nbproject/private/
/SevenFrameworks/ch02/nbproject/private/
rails-projects/todo-new/.idea/*
rails-projects/todo-new/.idea/*.*
rails-projects/todo-new/.idea/workspace.xml
SevenFrameworks/ch05/hello/.idea/*
SevenFrameworks/ch05/hello/.idea/*.*
SevenFrameworks/ch05/hello/*.iml
SevenFrameworks/ch05/hello/deps
SevenFrameworks/ch05/hello/ebin
SevenFrameworks/ch05/hello/rebar
SevenFrameworks/ch05/dispatcher/.idea/*
SevenFrameworks/ch05/dispatcher/.idea/*.*
SevenFrameworks/ch05/dispatcher/*.iml
SevenFrameworks/ch05/dispatcher/deps
SevenFrameworks/ch05/dispatcher/ebin
SevenFrameworks/ch05/petite/.idea/*
SevenFrameworks/ch05/petite/.idea/*.*
SevenFrameworks/ch05/petite/*.iml
SevenFrameworks/ch05/petite/deps
SevenFrameworks/ch05/petite/ebin
AngularJS_Succinctly/.idea/*
AngularJS_Succinctly/.idea/*.*
AngularJS_Succinctly/bower_components/*
AngularJS_Succinctly/ch06/node_modules/*
