.idea/*
.idea/*.*
/SevenFrameworks/ch01/nbproject/private
/SevenFrameworks/ch01/sinatra/crud/nbproject/private/
/SevenFrameworks/ch01/sinatra/erb/nbproject/private/
/SevenFrameworks/ch01/sinatra/mustache/nbproject/private/
/SevenFrameworks/ch02/nbproject/private/
rails-projects/todo-new/.idea/*
rails-projects/todo-new/.idea/*.*

SevenFrameworks/ch05/hello/.idea/*
SevenFrameworks/ch05/hello/.idea/*.*
SevenFrameworks/ch05/hello/*.iml
