.idea
nbproject
*.iml
deps
ebin
rebar
bower_components
node_modules
.sass-cache
.bundle
.tmp
build
dist
AutomateWithGrunt/deploying/working
AutomateWithGrunt/angular/dist
AutomateWithGrunt/markdown/assets/
GettingStartedWithGrunt/project/aws.json

MasteringGrunt/Chapter2/src/golden-dragon.html

MasteringGrunt/Chapter2/src/little-pizzeria.html

MasteringGrunt/Chapter2/src/styles/main.css

MasteringGrunt/Chapter2/src/index.html
