div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-12
            h1.page-header List of contacts
            a(href="/contacts/new" class="btn btn-primary") New Contact
            table.table
                thead
                    tr
                        th Firstname
                        th Lastname
                        th Age
                        th Actions
                tbody
                    tr(ng-repeat="contact in contacts")
                        td {{contact.firstname}}
                        td {{contact.lastname}}
                        td {{contact.age}}
                        td
                            a(href="/contacts/{{contact._id}}", class="btn btn-info", data-toggle="tooltip", title="Edit contact")
                                span.glyphicon.glyphicon-pencil
                            &nbsp;
                            a(ng-click="delete('cid')", class="btn btn-danger", data-toggle="tooltip", title="Delete contact")
                                span.glyphicon.glyphicon-remove

footer.footer
    .container
        p
            a(href='https://twitter.com/tyhenkel') @tyhenkel
            = ' | '
            a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues