<ul>
  <li class="chapter" ng-repeat='chapter in chapters | orderBy:"title"'>
    <h2>{{chapter.title}}</h2>
    <p>{{chapter.summary}}</p>
    <p>
      <a href="#/guidebook/chapter/{{chapter.id}}">
        {{chapter.notes.length}}
        <span ng-show="chapter.notes.length == 1">note</span>
        <span ng-hide="chapter.notes.length == 1">notes</span>
      </a>
      |
      <a href="#/guidebook/addNote/{{chapter.id}}">add note</a>
    </p>
    <gb-note-list notes="chapter.notes" show="chapter.id == selectedChapterId"
                  order-by="id" delete-note-handler="onDelete"/>
  </li>
</ul>