* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html {
  font-size: 87.5%;
}

h1 {
  font-size: 22px;
  font-size: 1.571rem;
}

h2 {
  font-size: 18px;
  font-size: 1.286rem;
}

.wrapper {
  margin: 0 20px;
}

.global-header {
  border-bottom: 1px solid #ccc;
  margin: 0 -20px;
  padding: 0 20px;
}

/* small screen, for example tablets */
@media screen and (min-width: 767px) {
  h1 {
    font-size: 28px;
    font-size: 2rem;
  }
  h2 {
    font-size: 24px;
    font-size: 1.714rem;
  }
  .wrapper {
    width: 740px;
    margin: 0 auto;
  }
  .global-header {
    margin: 0;
    padding: 0;
  }
  .global-header h1 {
    text-align: left;
  }
}

/* medium screen, for example desktop computers */
@media screen and (min-width: 1000px) {
  .wrapper {
    width: 980px;
  }
}

/* large screen, for example TV */
@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1170px;
  }
}