!!! 5
%html
  %head
    %title Our Awesome Haml Template
  %body
    #container
      %header
        %h1 Our Awesome Haml Template
      #main Abstracting HTML since 2006
      %footer
        %address Uerikon