<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Using instance variables</title>
  </head>
  <boyd>
    <% @users.each do |user| %>
      <p><%= user %></p>
    <% end %>
  </boyd>
</html>
